body {
font-family: Arial, sans-serif;
background-color: Lavender;
}
.option {
padding: 10px;
background-color: RoyalBlue;
color: White;
}
.option:hover {background-color: MediumSlateBlue;}
#score {
margin: 20px;
font-size: 1.2em;
}